<%- include('partials/header'); -%>

    <h1 class="text-center text-4xl">Our Menu</h1>

    <div class="flex justify-center items-center ">

      <a href="/cart" class="rounded-lg bg-indigo-700 text-white py-2 px-5 mt-5 hover:bg-indigo-500">View Cart</a>
    </div>
    
    <div class="flex flex-wrap">
      <% items.forEach(item => { %>
      <div class="w-[350px] mx-auto p-4">
        <div class="bg-gray-200 p-6 rounded-lg">
          <img
            class="rounded-lg w-full h-40 object-center oject-cover"
            src="<%= item.img %>"
            alt=""
            srcset=""
          />
          <h3 class="uppercase text-indigo-500 font-medium text-xs mt-6">
            Price: Rs.<%= item.price %>
          </h3>
          <h2 class="text-gray-900 font-medium mb-4"><%= item.name %></h2>
          <p class="text-justify text-base leading-relaxed"><%= item.discreption %>
          </p>
          <form action="/add-to-cart" method="post">
            <input type="hidden" name="itemId" value="<%= item._id %>" />
            <button type="submit" class="bg-green-500 rounded-lg text-white px-5 py-2 mt-5">Add to Cart</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('partials/footer'); -%>

